{% extends "askme/base.html" %}
{% load static %}

{% block content %}

{% block basic_or_top %}
<div class="d-flex flex-row align-items-center gap-3">
    <h2 class="pe-3">New Questions</h2>
    <a href="{% url 'hot_questions' %}">Hot Questions</a>
</div>
{% endblock %}

<div class="pt-4 d-flex flex-column gap-3">

    {% for i in questions_array %}

    <div id="{{ i.id }}" class="div__card p-3 ">
        <div class="row">
            <div class="col-auto">
                <div class="d-flex flex-column gap-2 align-items-center">
                    <img src="{% static 'img/ava.jpg' %}" class="img__card" alt="image"></img>
                    <div class="d-flex flex-row gap-2  m-2 align-items-center justify-content-around">
                        <button class="d-flex align-items-start button__card__dislikes">
                            <svg aria-hidden="true" width="15" height="20" viewBox="0 0 17 17">
                                <g transform="scale(0.017 0.016)">
                                    <path d="M512 992l480-480h-288v-512h-384v512h-288z"></path>
                                </g>
                            </svg>
                        </button>
                        <input disabled class="input__card__likes text-center" value="{{ i.likes }}"></input>
                        <button class="d-flex button__card__likes align-items-start">
                            <svg aria-hidden="true" width="15" height="20" viewBox="0 0 17 17">
                                <g transform="scale(0.017 0.016)">
                                    <path d="M512 32l-480 480h288v512h384v-512h288z"></path>
                                </g>
                            </svg>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <a class="a__card__title" href=" {% url 'question' i.id %} ">{{ i.title }}</a>
                <div class="flex-wrap">{{ i.question }}</div>
                <div class="d-flex flex-row gap-3 mt-auto mb-0 pt-2">
                    <div class="div__card__answers flex-nowrap">Answers: {{ i.answer_count }}</div>
                    <b>Tags:</b>
                    <div class="d-flex gap-2 flex-wrap">
                        {% for t in i.tags %}
                        <a href="{% url 'questions_with_tag' t %}" class="a__tags">{{ t }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% block pagination %}
<nav aria-label="...">
    <ul class="pagination">
        {% if questions_array.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="{% url url_name %}?page={{ questions_array.previous_page_number }}">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url url_name %}?page=1">1</a></li>

        {% if questions_array.number != 2 and questions_array.number|add:"-2" != 1 %}
        <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
        
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}

        {% if questions_array.number != 2 and questions_array.number != 1 %}
        <li class="page-item"><a class="page-link" href="{% url url_name %}?page={{ questions_array.number|add:"-1"}}"> {{ questions_array.number|add:"-1" }} </a></li>
        {% endif %}

        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#"> {{ questions_array.number }} </a>
        </li>

        {% if questions_array.number|add:"1" != questions_array.paginator.num_pages and questions_array.number != questions_array.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="{% url url_name %}?page={{ questions_array.number|add:"1" }}"> {{ questions_array.number|add:"1" }} </a></li>
        {% endif %}

        {% if questions_array.has_next %}
        {% if questions_array.number|add:"1" != questions_array.paginator.num_pages and questions_array.number|add:"2" != questions_array.paginator.num_pages %}
        <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="{% url url_name %}?page={{ questions_array.paginator.num_pages }}"> {{ questions_array.paginator.num_pages }} </a></li>
        <li class="page-item">
            <a class="page-link" href="{% url url_name %}?page={{ questions_array.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

</div>
{% endblock %}