{% extends "askme/base.html" %}
{% load static %}

{% block content %}
<div class="d-flex flex-column gap-3">

    <h2 class="pe-3">Log In </h2>

    <div class="d-flex flex-row text-center">
        <div class="alert alert-danger p-2">wrong login or password</div>
    </div>

    <div class="d-flex flex-row text-center">
        <div class="d-flex div__settings__login align-items-center" style="vertical-align: middle;">Login</div>
        <input class="w-75 me-5 p-1" placeholder="Enter login here"></input>
    </div>

    <div class="d-flex flex-row text-center">
        <div class="d-flex div__settings__login align-items-center">Password</div>
        <input class="w-75 me-5 p-1" placeholder="Enter password here" type="password"></input>
    </div>


    <button class="button__setting__save">Log In</button>

    <a class="a__create__account" href="#">Create new account</a>

</div>
{% endblock %}